<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keep Thoughts</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header>
        <h1 class="site-title">Keep Thoughts</h1>
    </header>
    <main id="main">
        <section id="thoughtsList" class="thoughts-list">
            <div class="empty-list">
                <p>You haven't added any thoughts yet.</p>
                <ul>
                    <li>Press the Add Thought button below to add your first thought.</li>
                </ul>
            </div>
            <button id="backBtn" class="back-btn">
                <span class="back-icon">←</span>
                <span class="back-text">Back</span>
            </button>
        </section>
        <section id="action" class="actions">
            <button id="addThoughtBtn" class="add-thought-button">
                <span class="add-icon">+</span>
                <span class="add-text">Add Thought</span>
            </button>
        </section>
    </main>
</body>
<script src="/static/js/scripts.js"></script>

</html>